@import '../../scss/vars';
@import '../../scss/layout';

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 83%;vertical-align: middle;}
      form button { width: 7%; background: #41b883; border: none; padding: 7px; font-size:1.8em;vertical-align: middle }
      .messages { list-style-type: none; margin: 0; padding: 0; text-align: start;  }
      .messages li { padding: 5px 10px; }
      

form button {
      @include for-mobile-only {
            font-size: 1.3em;
    padding: 11px 2px;
//     margin-right: 2px;
      }
}

      .chat-input {
@include for-mobile-only {
            margin-bottom: 60px;  
      }
}
.chat{
      
      padding:96px 0 170px;
      form{
            z-index:1000;
      }
      ul{
            padding:0 20px;
      }
      li{
            text-align:left;
    position: relative;
    padding: 15px 15px;
    width: 30%;
    margin:22px 0;
    border: 1px solid #5a8f00;
     
    color: #333;
    background: #fff ;
    border-radius: 10px;
    &:before{
        content: "";
    position: absolute;
    z-index: 10;
    bottom: -17px;
    left: 13px;
    width: 26px;
    height: 17px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #5a8f00;
    background: white;
    border-bottom-right-radius: 80px 50px;
    display: block;
    }
            &:after{
content: "";
    position: absolute;
    z-index: 10;
    bottom: -17px;
    left: 12px;
    width: 12px;
    height: 17px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #5a8f00;
    background: transparent;
    border-bottom-right-radius: 40px 50px;
    display: block;

            }
      }
      @include for-mobile-only {
      padding-bottom:240px;
      li{
            width:100%; 
      }
     
      }
}

.stop {
background-image: url(../../assets/moustachellama.png);

}

.play {
background-image: url(../../assets/moustachellama.png);
}

// @keyframes pulse {
//   from {
//     transform: scale3d(1, 1, 1);
//   }

//   50% {
//     transform: scale3d(1.05, 1.05, 1.05);
//   }

//   to {
//     transform: scale3d(1, 1, 1);
//   }
// }

// .pulse {
//   animation-name: pulse;
// }