<div class="chat">
    <ul class="messages">
      <li v-for="chatMsg in chatMsgs">{{chatMsg.nickName}}: {{chatMsg.msg}}</li>
    </ul>
    <form class="chat-input">
      <input  v-model="chatMsg.msg" />
      <button class = "glyphicon glyphicon-send" @click.prevent="sendMsg"></button>
      <button class="glyphicon glyphicon-headphones" v-if ="speechState === 'play'"@click.prevent="startVoiceRecognition"></button>
      <button class="glyphicon glyphicon-stop" v-else @click.prevent="stopVoiceRecognition"></button>
      <div>
      </div>
    </form>
  </div>