@import '../../scss/vars';
@import '../../scss/layout';

@include for-mobile-only {
    .item-filter {
        position: fixed;
        z-index: 900;  
        width: 100%;
        text-align: center;
    }
}
