@import '../../scss/vars';
@import '../../scss/layout';

.router-link-active {
  color: mediumseagreen !important;
}

.navbar {
  background: #2C3E50;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 96px;
  padding:0py;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;
}

.navbar-nav > li > a {
  color: lightgreen;
    font-size:14px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand{
  padding: 0px;
}

.nav {
  padding-top: 25px;
      @include for-mobile-only {
    display: flex;
    justify-content: center;
    background: #2C3E40;
    position: fixed;
    bottom: 0;
    height: 80x;  
    width: 100%;
    margin: 0;
    z-index: 1000;
    padding: 10px;
  }
} 

.container {
  padding: 0px;
  max-width: 100%;
  @media (min-width: 800px) {
    display: flex;
    justify-content: center;
  }
}

.navbar-header {
        display: flex;
    justify-content: center;
}