<div class="container below-nav">
  <h1>Add a New Item</h1>
  <form name="editItem" id="itemForm" ref="editItemForm" validate>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Item Name:</label>
        <input type="text" name="name" class="form-control" placeholder="Item Name" id="name" required data-validation-required-message="Please enter the name of your item">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Primary Category:</label>
        <select name="primaryCtg" v-model="ctgHandler">
          <option v-for="primaryCtg in ctgs">
            {{primaryCtg.name}}
          </option>
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group" v-if="ctgHandler === 'Electronics'">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Secondary Category:</label>
        <select name="secondaryCtg">
          <option v-for="secondaryCtg in ctgs[0].subs">
              {{secondaryCtg}}
          </option> 
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group" v-if="ctgHandler === 'Furniture'">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Secondary Category:</label>
        <select name="secondaryCtg">
          <option v-for="secondaryCtg in ctgs[1].subs">
              {{secondaryCtg}}
          </option> 
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group" v-if="ctgHandler === 'Clothing'">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Secondary Category:</label>
        <select name="secondaryCtg">
          <option v-for="secondaryCtg in ctgs[2].subs">
            {{secondaryCtg}}
          </option> 
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group" v-if="ctgHandler === 'Art'">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Secondary Category:</label>
          <select name="secondaryCtg">
            <option v-for="secondaryCtg in ctgs[3].subs">
              {{secondaryCtg}}
            </option> 
          </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Status</label>
        <select name="status">
            <option value="Good as New">Good as New</option>
            <option value="Good Enough">Good Enough</option>          
            <option value="Very Used">Very Used</option>
            <option value="Looks Like Garbage">Looks Like Garbage</option>
          </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Location:</label>
        <input type="number" class="form-control" placeholder="Latitude" id="lat" required data-validation-required-message="Please enter the lat of your item"
          v-model="loc.lat">
        <input type="number" class="form-control" placeholder="Longitude" id="lng" required data-validation-required-message="Please enter the lng of your item"
          v-model="loc.lng">
        <p class="help-block text-danger"></p>
        <button @click.prevent="getCurrLoc">Get Current Location</button>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Description:</label>
        <input type="text" name="desc" class="form-control" placeholder="Description" id="desc" required data-validation-required-message="Please enter a description of your item">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Image:</label>
        <input ref="inputFile" type="file" accept="image/*" capture="camera" class="form-control" placeholder="Image" id="img" required
          data-validation-required-message="Please enter an image of your item" v-on:change="drawOnCanvas">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div v-show="shouldShowImgCanvas">
      <canvas ref="canvas" width="200" height="200"></canvas>
    </div>
    <br>
    <hr>
    <div id="success"></div>
    <div class="row">
      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-success btn-lg" @click.prevent="sendItem">Send</button>
      </div>
    </div>
  </form>
  <vue-toastr ref="toastr"></vue-toastr>
</div>