<section class="below-nav">
    <div>
        <div>
            <label>Choose your Category:</label>
            <select v-model="currCtg.primaryCtg" v-on:change="setFilteredItems">
              <option value="All">All Categories</option>
              <option v-for="primaryCtg in ctgs">{{primaryCtg.name}}</option>
          </select>
        </div>
        <div v-if="currCtg.primaryCtg !== 'All' && currCtg.primaryCtg !== 'Misc'">
            <label>Type of {{currCtg.primaryCtg}}?</label>
            <select v-model="currCtg.secondaryCtg" v-on:change="setFilteredItems">
              <option value="All">All Categories</option>
            <option v-for="secondaryCtg in ctgs[ctgIndex].subs">{{secondaryCtg}}</option>
          </select>
        </div>
    </div>
</section>