@import '../../scss/vars';
@import '../../scss/layout';

section {
    background-color: yellowgreen;
    padding: 120px 0px 20px 10px;
}

.glyphicon {
    font-size: 30px;
        @include for-mobile-only {
            font-size: 20px;
        }
}

.right {
    position: relative; 

}

.selection {
    position: relative;
        @include for-mobile-only {
            display: flex;
            justify-content: left;
        }  
}

.main-ctg {
    text-align: left;
}

.ctgs {
    @include for-mobile-only {
        display: flex;
        flex-direction: column;
        align-items: left;
     }
}

.view_icon{
    position: absolute;
    top: 0;
    right: 0;
}