section {
    background-color: yellowgreen;
    padding-top: 120px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.btn {
    margin-bottom: 10px;
}
.inline{
    display: inline;
}
.right {
    float: right;
}
.togglePic{
    
}