

@import 'scss/vendor';
@import 'scss/functions';
@import 'scss/helpers';
@import 'scss/fonts';
@import 'scss/vars';
@import 'scss/layout';
@import 'scss/base';
@import 'scss/forms';




.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s
}
.fade-enter, .fade-leave-active /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.below-nav {
  padding-top: 130px;
}